@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

@media (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; } }

.btn-box {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 5px 50px 20px 10px; }

.icon-bag {
  display: block;
  min-height: 50px;
  min-width: 50px;
  margin-right: 10px;
  position: relative; }

.icon-btn {
  position: absolute;
  right: -2px;
  bottom: 4px; }

.r-arrow-bag {
  margin-left: -7px; }

.btn-bag {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  position: relative; }
  .btn-bag .btn, .btn-bag .placeholder {
    display: block;
    position: absolute; }
  .btn-bag .placeholder {
    position: initial;
    z-index: -10; }
  .btn-bag .active, .btn-bag .btn:focus, .btn-bag .placeholder:focus, .btn-bag:hover .btn, .btn-bag:hover .placeholder, .btn-bag:focus .btn, .btn-bag:focus .placeholder {
    bottom: -1px;
    left: -3px; }

.spacer {
  display: block;
  min-width: 5px; }

.title-text {
  margin-top: 20px; }
  @media (min-width: 450px) {
    .title-text {
      margin-top: 30px; } }

@media (min-width: 450px) {
  .q-container {
    width: 100%; } }

@media (min-width: 450px) {
  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; } }

@media (min-width: 700px) {
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px; } }

@media (min-width: 450px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column; } }

.element-box, .message-box {
  padding: 10px 15px;
  z-index: -1;
  margin-top: -5px;
  margin: -6.5px 15px 20px; }
  @media (min-width: 450px) {
    .element-box, .message-box {
      max-width: 550px; } }

.message-box {
  margin-top: 25px;
  padding: 30px 10px;
  position: relative; }
  @media (min-width: 700px) {
    .message-box {
      align-self: center;
      padding: 50px 30px; } }

.left-quote {
  position: absolute;
  top: -35px;
  left: -10px; }

.right-quote {
  position: absolute;
  bottom: -80px;
  right: -10px; }

.title-text {
  font-family: 'Josefin Sans', sans-serif;
  color: #01161E;
  font-size: 22px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  text-shadow: -2px 2px #598392; }
  @media (min-width: 450px) {
    .title-text {
      font-size: 50px; } }

.sub-text {
  font-family: 'Josefin Sans', sans-serif;
  color: #01161E;
  font-size: 22px;
  font-weight: 200;
  font-style: italic;
  line-height: 1.2;
  text-align: justify; }
  @media (min-width: 450px) {
    .sub-text {
      font-size: 25px;
      line-height: 1.4; } }

.header-container {
  display: block;
  height: 40px;
  width: 80%;
  position: relative;
  border-bottom: solid 3px #124559;
  margin-bottom: 10px; }
  @media (min-width: 450px) {
    .header-container {
      width: 75%; } }
  .header-container .header-text {
    font-family: 'Josefin Sans', sans-serif;
    color: #01161E;
    font-size: 22px;
    font-size: 28px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    right: 0; }
    @media (min-width: 450px) {
      .header-container .header-text {
        font-size: 32px; } }

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #01161E;
  font-size: 22px;
  font-weight: 400; }

.message-box p {
  color: white;
  font-size: 30px; }
.message-box .left-quote, .message-box .right-quote {
  font-family: 'Coustard', serif;
  color: #AEC3B0;
  font-size: 85px;
  text-shadow: -3px 3px #01161E; }

@media (min-width: 700px) {
  #message-header {
    margin-top: 30px;
    width: 50%; } }

.arrow {
  font-size: 32px;
  color: #AEC3B0;
  transition: all 0.15s ease-out; }

.icon-bag:hover .arrow, .icon-bag:focus .arrow {
  color: #598392; }

body {
  background-color: #EFF6E0; }

button {
  outline: none; }

@media (min-width: 700px) {
  header {
    background-color: white;
    border: solid 1px #01161E;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px; } }

.element-box, .message-box {
  background-color: white;
  border: solid 1px #01161E;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.btn, .placeholder {
  background: white;
  padding: 10px 20px;
  border: solid 2px #124559;
  border-radius: 100px;
  font-family: 'Josefin Sans', sans-serif;
  color: #01161E;
  font-size: 22px;
  font-weight: 400;
  box-shadow: -4px 4px #01161E, -2px 2px #01161E, -1px 1px #01161E;
  transition: all 0.15s ease-out;
  white-space: nowrap; }
  @media (min-width: 700px) {
    .btn, .placeholder {
      background-color: #EFF6E0; } }
  .btn:focus, .placeholder:focus {
    outline: none; }

.btn-box::-webkit-scrollbar {
  display: none; }

.btn-box {
  -ms-overflow-style: none;
  scrollbar-width: none; }

.btn-bag:hover .btn, .btn-bag:hover .placeholder, .btn-bag:focus .btn, .btn-bag:focus .placeholder {
  outline: none; }

.icon-btn {
  background: white;
  border: solid 2px #124559;
  padding: 4px 5px 5px;
  border-radius: 100%;
  box-shadow: -4px 4px #01161E, -2px 2px #01161E, -1px 1px #01161E;
  transition: all 0.15ms ease-out; }

.icon-bag:hover .icon-btn, .icon-bag:focus .icon-btn {
  outline: none; }

.icon-active, .icon-bag:hover .icon-btn, .icon-bag:focus .icon-btn {
  box-shadow: none;
  right: 2px;
  bottom: -2px; }

.placeholder {
  opacity: 0; }

.active, .btn:focus, .placeholder:focus, .btn-bag:hover .btn, .btn-bag:hover .placeholder, .btn-bag:focus .btn, .btn-bag:focus .placeholder {
  box-shadow: none;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
  background-color: #598392;
  color: white; }

.message-box {
  background-color: #598392; }

/*# sourceMappingURL=styles.css.map */
