// For decorations: 

body {
  background-color: $secondary-light;
}

header {

  @include media-desktop() {
    background-color: white;
    border: solid 1px $primary-dark;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
  }
}

.element-box {
  background-color: white;
  border: solid 1px $primary-dark;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.btn {
  background: white;
  padding: 10px 20px;
  border: solid 2px $secondary-dark;
  border-radius: 100px;
  @include medium-italic();
  box-shadow: -4px 4px $primary-dark,
              -2px 2px $primary-dark,
              -1px 1px $primary-dark;
  transition: all 0.15s ease-out;
  white-space: nowrap;

  @include media-desktop() {
    background-color: $secondary-light;
  }

  &:focus {
    @extend .active;
    outline: none;
  }
}

.btn-bag {

  &:hover .btn, &:focus .btn {
    @extend .active;
    outline: none;
  }
}

.icon-btn {
  background: white;
  border: solid 2px $secondary-dark;
  padding: 4px 5px 5px;
  border-radius: 100%;
  box-shadow: -4px 4px $primary-dark,
              -2px 2px $primary-dark,
              -1px 1px $primary-dark;
  transition: all 0.15ms ease-out;
}

.icon-bag {

  &:hover .icon-btn, &:focus .icon-btn {
    @extend .icon-active;
    outline: none;
  }
}

.icon-active {
  box-shadow: none;
  right: 2px;
  bottom: -2px;
}

.placeholder {
  @extend .btn;
  opacity: 0;
}

.active {
  box-shadow: none;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
  background-color: $primary-light;
  color: white;
}

.message-box{
  background-color: $primary-light;
}