// ******************************
//  DOCUMENT STRUCTURE  
// ******************************

* {
  margin: 0; 
  padding: 0; 
  text-decoration: none;
  box-sizing: border-box;
}

body {

  @include media-desktop() {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
}

// ******************************
//  BUTTON STRUCTURE  
// ******************************

.btn-box {
  width: 100%; 
  display: flex; 
  // background: lightgray;
  overflow-x: scroll;
  padding: 5px 50px 20px 10px;

  
}

.icon-bag {
  display: block;
  min-height: 50px;
  min-width: 50px;
  margin-right: 10px;
  position: relative;
}

.icon-btn {
  position: absolute;
  right: -2px;
  bottom: 4px;
}

.r-arrow-bag {
  margin-left: -7px;
}

// the jacket to the btn 
.btn-bag {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  position: relative;

  .btn {
    display: block;
    position: absolute;
  }

  .placeholder {
    position: initial;
    z-index: -10;
  }

  .active {
    bottom: -1px;
    left: -3px;
  }
}

.spacer {
  display: block;
  min-width: 5px;
}

// ******************************
//  TEXT AND TEXT-BOX STRUCTURE
// ******************************

.title-text {
  margin-top: 20px;

  @include media-tablet() {
    margin-top: 30px; 
  }
}

.q-container {

  @include media-tablet() {
    width: 100%; 
  }
}

nav {

  @include media-tablet() {
    display: flex; 
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

header {

  @include media-desktop() {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
  }
}

main {

  @include media-tablet() {
    width: 100%;
    display: flex; 
    flex-direction: column;
  }
}

.element-box {
  padding: 10px 15px;
  z-index: -1;
  margin-top: -5px;
  margin: -6.5px 15px 20px;

  @include media-tablet() {
    max-width: 550px;
  }
}

.message-box {
  @extend .element-box;
  margin-top: 25px;
  padding: 30px 10px;
  position: relative;

  @include media-desktop() {
    align-self: center;
    padding: 50px 30px;
  }
}

.left-quote {
  position: absolute;
  top: -35px;
  left: -10px;
}

.right-quote {
  position: absolute;
  bottom: -80px;
  right: -10px;
}
